<div id="content">
  <h1>Welcome to the best System</h1>
  <h2>Menu</h2>

<%= link_to 'Committees', committees_path(@committee) %>
<%= link_to 'Constituencies', constituencies_path(@constituency) %>
<%= link_to 'Users', useeers_path(@useeer) %>
<%= link_to 'Logout', logout_path %>
</div>

