<%= stylesheet_link_tag "style" %>

<body>
  <div id="wrapper">
    <div id="wrapper2">
      <div id="header">
        <div id="logo">
          <img src="images/img06.jpg" alt="" width="138" heigh="93" class="left" />
        </div>
        <h1>The best System</h1>

      </div>
      <div id="page">
        <div id="content">
    	  <br>
  	  <h1>Welcome to the best System</h1>
          <h2>Hello EPI ;)</h2>

          <div id="menu">
            <ul>
              <li><h3>
                <%= link_to 'Login', login_path %>
              </h3></li>
            </ul>
          </div>
  
        </div>
      </div>
    </div>

    <div id="footer">
      <p>Katarzyna Drapała, EPI, UJ</p>
    </div>

  </div>

</body>

